<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pif.mapper.PostMapper">

	<insert id="registerPost" parameterType="com.example.pif.dto.PostVO">
		insert into 
			post (p_id, r_num, p_content, p_public) 
		values
			(#{p_id}, #{r_num}, #{p_content}, #{p_public})
	</insert>

	<select id="getPostList">
		SELECT * FROM post WHERE p_public = #{p_public} ORDER BY RAND() LIMIT 10
	</select>

    <update id="updatePost">
		update 
			post
		set
			p_content = #{p_content}, p_public = #{p_public}, r_num = #{r_num}
		where
			p_num = #{p_num}
	</update>

    <delete id="deletePost">
		delete from post where p_num = #{p_num}
	</delete>

	<select id="getMyList">
		SELECT * FROM post WHERE p_id = #{p_id}
	</select>

	<select id="getMyCount">
		SELECT COUNT(*) FROM post WHERE p_id = #{p_id}
	</select>

	<select id="getMyPost">
		SELECT * FROM post WHERE p_id = #{p_id}
	</select>
	
	<select id="getPostTop" resultType="com.example.pif.dto.PostVO">
		SELECT p.*
		FROM post p
		LEFT JOIN heart h ON p.p_num = h.h_num
		WHERE p.p_public = '공개'
		GROUP BY p.p_num
		ORDER BY COUNT(h.h_num) DESC
		LIMIT 10
	</select>

	<select id="getSearchPost">
		SELECT * FROM POST WHERE p_content LIKE CONCAT('%', #{p_content}, '%')
	</select>


</mapper>